.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.chatArea {
  flex: 1;
  min-height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sidebarArea {
  flex-shrink: 0;
}
